body{
    /*Remember, the property name should be followed by a colon,
    and the value should be followed by a semicolon*/
    box-sizing: border-box;
    /*Feel free to change the values of the following
    properties to your liking!*/
    background-color:antiquewhite;
    font-family: cursive, sans-serif;
    color: purple;
}

/*References the div with the class attribute of "container"*/
.container{
    /*Declares that the element and its children can be styled with flexbox*/
    display: flex;
}


img{
    /*Sets image sizing to be a bit more uniform*/
    min-width: 25vw;
    max-width: 100vw;
}